footer{
    background-color:#153615;
    padding: 50px 0;
}
.container-footer{
    max-width: 1400px;
    padding: 0 4%;
    margin: auto;
}
.linha{
    display: flex;
    flex-wrap: wrap;
}

.coluna{
    width: 25%;
    padding: 0 15px;
}
.coluna h4{
    font-size: 22px;
    color: white;
    margin-bottom: 20px;
    font-weight: 500;
    position: relative;
    text-transform: uppercase;
}
.coluna ul{
    list-style: none;
}
.coluna ul li{
    margin: 10px 0;
}
.coluna ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: white;
    text-decoration: none;
    font-weight: 300;
    display: block;
    transition: all 0.3s ease;
}
.coluna ul li a:hover{
    color: #cecdcd;
    padding-left: 10px;
}
